.App {
  background: rgb(35,20,64);
  background: linear-gradient(90deg, rgba(35,20,64,1) 0%, rgba(76,9,121,1) 35%, rgba(0,146,255,1) 100%);
  margin-top: -30px;
  padding-top: 70px;
}

.text {
  color: whitesmoke;
  margin:30px;
}

.Nav {
  border: 1px solid;
  position: fixed;
  top: 0;
  width: 100vw;
  color: whitesmoke;
  transition: .5s;
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    padding: 0 4vw;
    
    li {
      flex-grow: 1;
      text-align: center;
    }
    
    li:first-child {
      flex-grow: 5;
      text-align: left;
    }
  }
}

.active {
    border: 0;
    background: white;
    color: rgb(35,20,64);
    transition: .3s;
  }
